body {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
  background-color: #e0e0e0;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  display: block;
  text-align: center;
}
